<!-- start custom footer snippets -->
<!-- <figure class="half">
	<a href="https://www.prewired.org"><img class="img_baseline" src="{{ '/assets/images/prewired-logo-small.png' | relative_url }}"></a>
    <a href="http://tinderboxcollective.org"><img class="img_baseline" src="{{ '/assets/images/tinderbox-logo-small.png' | relative_url }}" /></a>
</figure>
<figure class="half">
	<a href="https://creativeinformatics.org"><img class="img_baseline"src="{{ '/assets/images/CI-logo-on-white.png' | relative_url }}" /></a>
	<a href="http://thisiscodebase.com"><img src="{{ '/assets/images/codebase-logo.png' | relative_url }}" /></a>	
</figure -->>

<footer>
    <div class="text-center">
        <div class="grid__wrapper">
            <div class="grid__item">
                <a href="https://creativeinformatics.org"><img class="img_baseline" src="{{ '/assets/images/CI-logo-on-white-small.png' | relative_url }}" /></a>
            </div>
            <div class="grid__item">
                <a href="https://www.prewired.org"><img class="img_baseline" src="{{ '/assets/images/prewired-logo-small.png' | relative_url }}"></a>
            </div>
            <div class="grid__item">
                <a href="http://tinderboxcollective.org"><img class="img_baseline" src="{{ '/assets/images/tinderbox-logo-small.png' | relative_url }}" /></a>
            </div>
            <div class="grid__item">
                <a href="http://thisiscodebase.com"><img src="{{ '/assets/images/codebase-logo.png' | relative_url }}" /></a>
            </div>
        </div>
    </div>
</footer>
<!-- end custom footer snippets -->