_site
.sass-cache
.jekyll-cache
.jekyll-metadata
Gemfile.lock
_image_sources
_posts

.vscode
*.code-workspace


.ipynb_checkpoints


EoDD_schedule*
test.md
README_resolutions.txt
new_post.py
_scripts/Makefile
_scripts/csv2challenge.ipynb
_drafts/chatbot.md
_drafts/old-challenges.md


