---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

// P++ splash colours
// green - #81ccb5 
// pink - #db408c
// blue - #222b68
// orange - #f16a37
// cream - #fef7da 

$cream: #fef7da;
$darkblue: #222b68;
$pink: #db408c;

$link-color: $darkblue;
$footer-background-color: $darkblue;
$primary-color: $pink;


@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.grid__item {
    .archive__item-teaser {
        @include breakpoint($medium) {
            max-height: 300px;
        }
    }
}

.sidebar {
  @include breakpoint($large) {
    opacity: 1; 
    }
}

.page__hero { 
	&--overlay {
        a {
            color: $cream;
        }
        .page__title,
        .page__meta,
        .page__lead,
        .btn {
            color: $cream;
        }
    }
}

.archive__item-excerpt {
        font-size: 1.15em;
}

 
